<!-- <footer id="footer" data-hook>
  <div class='row'>
    <div id='footer-left' class='col-sm-4'>
      <ul class="list-inline">

      </ul>
    </div>
    <div id='footer-right' class='col-sm-8'>

    </div>
  </div>
</footer> -->
